@model HRWebApp.Models.Web.TotalEarningModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TotalEarningModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_ID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_ID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shareholder_Status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shareholder_Status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hire_Date1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hire_Date1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Termination_Date1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Termination_Date1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
